extends layout
block content
    h1.
        Orders
    table
        tr
            th Order ID
            th Order Type
            th Product ID
            th Order Date
            th Billing Address
            th Shipping Address                    
        each order in orders
            tr
            td=order.order_id
            td=order.order_type
            td=order.product_id
            td=order.order_date
            td=order.billing_address
            td=order.shipping_address  